#container-wrapper {
    min-height: 76vh;
}

label.required::after {
    content: "*";
    color: red;
}
label { 
    font-weight: bold;
}
img#cimg {
    height: 15vh;
    width: 15vh;
    object-fit: cover;
    border-radius: 100% 100%;
}
.whitespace-nowrap {
    white-space: nowrap !important;
}
table.info-table{
	color:#000;
}

body .swal2-popup.swal2-toast .swal2-title { 
    font-size: 20px;
    padding: 20px;
}