<!DOCTYPE html>
<html lang="en">

<head th:replace="admin/index :: head"> 
</head>

<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="admin/index :: sidebar"> 
    </ul>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <nav th:replace="admin/index :: sidebartop"> 
        </nav>
        <!-- Topbar -->
        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
          
          <!-- Row -->
          <div class="row">
            <!-- DataTable with Hover -->
            <div class="col-lg-12">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h2 class="m-0 font-weight-bold text-primary">Change Password</h2>
                  </div>  
                    <div th:if="${updatepassword_errors}">
                <div class="alert alert-danger" th:text="${updatepassword_errors}"></div>
            </div>
 
   <div th:if="${updatepassword_success}">
                <div class="alert alert-success" th:text="${updatepassword_success}"></div>
            </div>
                <div class="card-body">
                  <form action="/admin/updatepassword" method="post" id="frmprofile">
                  <div class="form-group row">
                      <label for="password" class="col-sm-3 col-form-label required">Current Password</label>
                      <div class="col-sm-9">
                        <input type="password" class="form-control" name="password" id="password"   required>
                      </div>
                    </div>
                     <div class="form-group row">
                      <label for="password" class="col-sm-3 col-form-label required">New Password</label>
                      <div class="col-sm-9">
                        <input type="password" class="form-control" name="newpassword" id="newpassword"   required>
                      </div>
                    </div><div class="form-group row">
                      <label for="password" class="col-sm-3 col-form-label required">Confirm New Password</label>
                      <div class="col-sm-9">
                        <input type="password" class="form-control" name="confirmpassword" id="confirmpassword"   required>
                      </div>
                    </div>
                    
                    <div class="form-group row">
                      <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Save Password</button>
                      </div>
                    </div>
                  </form>
                
                <h3>Password Policies:</h3>
       <ul>
  <li>A digit must occur at least once</li>
<li>A lower case letter must occur at least once</li>
<li>An upper case letter must occur at least once</li>
<li>A special character must occur at least once</li>
<li>No whitespace allowed in the entire string</li>
<li>At least 8 characters</li>
</ul></div> 
              </div>
            </div>
          </div>
          <!--Row-->

          
   </div>
        <!---Container Fluid-->
      </div>

      <!-- Footer -->
      <footer th:replace="admin/index :: footer"> 
      </footer>
      <!-- Footer -->
    </div>
  </div> 
  

</body>

</html>