<!DOCTYPE html>
<html lang="en">

<head th:replace="employee/index :: head"> 
</head>

<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="employee/index :: sidebar"> 
    </ul>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <nav th:replace="employee/index :: sidebartop"> 
        </nav>
        <!-- Topbar -->
        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
          
          <!-- Row -->
          <div class="row">
            <!-- DataTable with Hover -->
            <div class="col-lg-12">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h2 class="m-0 font-weight-bold text-primary">My Leave Applications - <select onclick="loaddata()"  id="selectstatus">
                    <option th:each="l:${statuses}" th:value="${l}" th:text="${l}"></option>
                  </select></h2> 
                
               <div class="card-tools float-right">
			<a href="/employee/newleaveapplication" class="btn btn-flat btn-primary" id="create_new"><span class="fas fa-plus"></span>  Create New</a>
		</div></div>
                <div class="table-responsive p-3">
                  <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                    <thead class="thead-light">
                      <tr>  
                      <th>Leave Type</th>   
                        <th>Date</th>   
                        <th>Days</th> 
                        <th>Status</th>  
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr> 
                        <th>Leave Type</th>   
                        <th>Date</th>   
                        <th>Days</th> 
                        <th>Status</th>  
                        <th>Action</th>
                      </tr>
                    </tfoot>
                    <tbody>
                    
                    </tbody>
                     </table>
                </div>
              </div>
            </div>
          </div>
          <!--Row-->

    

        </div>
        <!---Container Fluid-->
      </div>
  <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelform"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h2 class="modal-title" id="exampleModalLabelform"><i class='fa fa-list'></i> Leave Application Details</h2>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div> 
                <div class="modal-body">
                </div>
                </div>
                </div>
                </div>
 
      <!-- Footer -->
      <footer th:replace="employee/index :: footer"> 
      </footer>
      <!-- Footer -->
    </div>
  </div> 
 <script>
    $(document).ready(function () { 
      $('#dataTableHover').DataTable(); // ID From dataTable with Hover 
       
	   loaddata();
    });
    
    function loaddata()
    { 
    	 $('#dataTableHover tbody').html("  <h1>Loading........</h1>"); 
    	 $.ajax({
             type: "POST",
             url: "/employee/JSON/empleaves",  
             data:{"action":"readall","status":$("#selectstatus").val()} , // serializes the form's elements. 
   		    dataType: "json",
             success: function(data)
             {
   		      if(data.success)
                  {
   		    	    data=data.data;
   		    	 if ( $.fn.DataTable.isDataTable('#dataTableHover') ) {
   		    	  $('#dataTableHover').DataTable().destroy();
   		    	}
   		    	 
   		    	 strhtml="";
   		    	    for(i=0;i<data.length;i++)
   		    	    	{
   		    	    	 strhtml+="<tr><td>"+data[i].leavetype+"</td><td>"+formatdateshort(data[i].fromdate)+"</td>"
   		    	    	         +"<td>"+data[i].days+"</td>"; 
						
   		    	    	 strhtml+="<td><span class='"+data[i].statusclass+"'>"+data[i].status+"</span></td>";
   		    	    	         
   		    	    	 strhtml+='<td><button type="button" class="btn btn-flat btn-default btn-sm dropdown-toggle dropdown-icon" data-toggle="dropdown">'
				                  +'Action<span class="sr-only">Toggle Dropdown</span></button>'
				                  +'<div class="dropdown-menu" role="menu">'
				                  +(data[i].editable?' <a class="dropdown-item edit_data" href="/employee/editleaveapplication/'+data[i].id+'"><span class="fa fa-edit text-primary"></span> Edit</a>':'')+'' 				               
				                  +' <div class="dropdown-divider"></div>'
				                  +'  <a class="dropdown-item view_application" href="javascript:void(0)" data-id="'+data[i].id+'"><span class="fa fa-eye text-danger"></span> View</a>'
				                  +' <div class="dropdown-divider"></div>'
				                  +(data[i].editable?'  <a class="dropdown-item delete_data" href="javascript:void(0)" data-id="'+data[i].id+'"><span class="fa fa-trash text-danger"></span> Delete</a>':'')+'' 
				                  +'</div>' 
				                  +'</td>'
   		    	    	          +'</tr>';
   		    	    	}
   		    	 $('#dataTableHover tbody').html(strhtml);
   		    	$('#dataTableHover').DataTable();
   		    	
   		    	$('.delete_data').click(function(){
   					_conf("Are you sure to delete this Leave Application permanently?","delete_leave_application",[$(this).attr('data-id')])
   				})
   				
   				$('.view_application').click(function(){
   				  
      		     	 $.ajax({
      		             type: "POST",
      		             url: "/employee/JSON/empleaves",  
      		             data:{action:"read",id:$(this).attr('data-id')} , // serializes the form's elements.
      		   		    dataType: "json",
      		             success: function(data)
      		             {
      		   		      if(data.success)
      		   		    	  {   
      		   		    	   data=data.data;
      		    	            strhtml='<p class="m-0"><b>Employee ID: </b> <br><span class="mx-2">'+data.empid+'</span></p>'
                                        +'<p class="m-0"><b>Name: </b> <br><span class="mx-2">'+data.name+'</span></p>'
                                        +'<p class="m-0"><b>Leave Type: </b> <br><span class="mx-2">'+data.leavetype+'</span></p>'
                                        +'<p class="m-0"><b>Date: </b> <br><span class="mx-2">'; 
        if(data.fromdate == data.todate)
        	 strhtml+=formatdateshort(data.fromdate);
        else
        	strhtml+=formatdateshort(data.fromdate)+' - '+formatdateshort(data.todate); 
        strhtml+='</span></p>'
                +'<p class="m-0"><b>Days of Leave: </b> <br><span class="mx-2">'+data.days+'</span></p>'
                +'<p class="m-0"><b>Reason: </b><br><span class="mx-2">'+data.reason+'</span></p>'
                +'<p><b>Status</b><br><span class="'+data.statusclass+' mx-2">'+data.status+'</span>' 
                +(data.approvedby?'<p><b>Approved By</b><br><span class="mx-2">'+data.approvedby+'</span>':'')+'' 
                +(data.approvedat?'<p><b>Approved At</b><br><span class="mx-2">'+formattimestamp(data.approvedat)+'</span>':'')+'' 
                +'<div class="w-100 d-flex justify-content-end mb-2">'
                +' <button class="btn btn-flat btn-sm btn-default bg-black" data-dismiss="modal"><i class="fa fa-times"></i> Close</button></div>';
        $('#viewModal .modal-body').html(strhtml);
        $('#viewModal').modal('show');
      		   		    	 }
      		   		      else
      		   		    	  {
      		   		    alert_toast(data.message,'error');
   				     end_loader();
      		   		    	  }
                     }

   		 	          });
      			});
                     
   			
 
                  }
   		      else
                  alert(data.message);
   		  
   		      }
           });
    }
    
    function delete_leave_application(id)
    {
    	 $.ajax({
             type: "POST",
             url: "/employee/JSON/empleaves",  
             data:{action:"delete",id:id} , // serializes the form's elements.
   		    dataType: "json",
             success: function(data)
             {
   		      if(data.success)
   		    	  {
   		    	    alert_toast(data.message,'success');
   		    	 $('#confirm_modal').modal('hide');
   		            loaddata();    
   		     	  }
   		      else
   		    	  {
   		    	     alert_toast(data.message,'error'); 
   		    	  }
             }
    	 });
    }
  
  </script>

</body>

</html>